body{
  background-color:lightblue;
}
.krasa{
  color: red;
}
#izmers {
  font-size: 60px;
}
.platums {
  width: 1000px;
}
.atkape {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
table,td,th{
  border: solid black 1px;
}